asgiref==3.8.1
beautifulsoup4==4.13.4
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.2
distlib==0.3.9
Django==5.2.1
filelock==3.18.0
idna==3.10
lxml==5.4.0
platformdirs==4.3.8
pycparser==2.22
python-decouple==3.8
requests==2.32.3
soupsieve==2.7
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
virtualenv==20.31.2
